<p style="color: green"><%= notice %></p>


<head>
  <!-- Other head elements -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.3/dist/tailwind.min.css" rel="stylesheet">
</head>

<body style="background-image: url('<%= asset_path('main_background2.jpg') %>'); background-size: cover; background-position: center; background-repeat: no-repeat;">
  
<div class="flex justify-center items-center h-screen">
  <div class="w-96 bg-gray-100 p-8 rounded-lg shadow-lg">
    <%= form_with(url: logins_path, method: :post, local: true) do |form| %>
      <div class="mb-4">
        <%= form.label :username, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.text_field :username, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="mb-6">
        <%= form.label :password, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.password_field :password, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="flex justify-center items-center ">
        <%= form.submit "Login", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      </div>
    <% end %>
  </div>
</div>
</body>
</div>

